include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
include ppl-ai.gif
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.so
recursive-exclude * .DS_Store
